doctype 5
html
  head
    link(rel='stylesheet', type='text/css', href="css/styles.css")
    script(type='text/javascript', data-main='js/modules/main', src='js/vendor/require.js')
    script(type='text/javascript')
    title Haskell WebDev Example
  body
    #main

      #prompt-nick.view
        .dialog
          form
            label Choose you nickname
            input(type='text')


      #game.view


