doctype 5
html
  head
    link(rel='stylesheet', type='text/css', href="css/styles.css")
    script(type='text/javascript', data-main='js/modules/main', src='js/vendor/require.js')
    title Haskell WebDev Example!
  body
    #main

      #prompt-nick(data-bind='if: view() == "enterName"')
        .dialog
          form(data-bind='submit: enterName')
            label Choose you nickname
            input(type='text', data-bind='value: name')

      #waiting(data-bind='if: view() == "waiting"')
        h1 Waiting for an opponent...

      #disconnected(data-bind='if: view() == "disconnected"')
        h1 Disconnected from the game

        button(data-bind='click: reconnect') Reconnect

      #game(data-bind='if: view() == "game"')
        h1
          span(data-bind='text: name')
          = " vs "
          span(data-bind='text: opponentName')

        h2(data-bind='visible: moveRequest') It's your turn
        h2(data-bind='visible: !moveRequest()') Opponent's turn

        table.board
          tbody(data-bind='foreach: board')
            tr(data-bind='foreach: $data')
              td(data-bind='text: $data.value, click: $root.makeMove($data)')

        h1.victory(data-bind='visible: result() == "won"') You won!
        h1.loss(data-bind='visible: result() == "lost"') You lost!
        h1.draw(data-bind='visible: result() == "draw"') It's a draw!

        button(data-bind='visible: newGameRequest, click: playAgain') Play again

