doctype 5
html
  head
    link(rel='stylesheet', type='text/css', href="css/styles.css")
    script(type='text/javascript', data-main='js/modules/main', src='js/vendor/require.js')
    title Haskell WebDev Example!
  body
    #main

      #prompt-nick(data-bind='if: view() == "enterName"')
        .dialog
          form(data-bind='submit: enterName')
            label Choose you nickname
            input(type='text', data-bind='value: name')

      #waiting(data-bind='if: view() == "waiting"')
        h1 Odotetaan vastapelaajaa

      #game(data-bind='if: view() == "game"')
        table.board
        button Play again

